<div class="container">
  <div class="login-box">
      <h2 >Login</h2>
      <form>
          <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" id="userName" name="userName" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
          </div>
          <button type="submit" (click)="Login()">Login</button>
      </form>
      <p>Don't have an account? <a routerLink="/register">Sign Up</a></p>
  </div>
</div>
